.row {
  box-sizing: border-box;
  width: 100%;
}
.row::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
  clear: both;
}
@media (min-width: 768px) {
  .col-sm-1 {
    width: 8.33333333%;
    float: left;
  }
  .col-sm-2 {
    width: 16.66666667%;
    float: left;
  }
  .col-sm-3 {
    width: 25%;
    float: left;
  }
  .col-sm-4 {
    width: 33.33333333%;
    float: left;
  }
  .col-sm-5 {
    width: 41.66666667%;
    float: left;
  }
  .col-sm-6 {
    width: 50%;
    float: left;
  }
  .col-sm-7 {
    width: 58.33333333%;
    float: left;
  }
  .col-sm-8 {
    width: 66.66666667%;
    float: left;
  }
  .col-sm-9 {
    width: 75%;
    float: left;
  }
  .col-sm-10 {
    width: 83.33333333%;
    float: left;
  }
  .col-sm-11 {
    width: 91.66666667%;
    float: left;
  }
  .col-sm-12 {
    width: 100%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-1 {
    width: 8.33333333%;
    float: left;
  }
  .col-md-2 {
    width: 16.66666667%;
    float: left;
  }
  .col-md-3 {
    width: 25%;
    float: left;
  }
  .col-md-4 {
    width: 33.33333333%;
    float: left;
  }
  .col-md-5 {
    width: 41.66666667%;
    float: left;
  }
  .col-md-6 {
    width: 50%;
    float: left;
  }
  .col-md-7 {
    width: 58.33333333%;
    float: left;
  }
  .col-md-8 {
    width: 66.66666667%;
    float: left;
  }
  .col-md-9 {
    width: 75%;
    float: left;
  }
  .col-md-10 {
    width: 83.33333333%;
    float: left;
  }
  .col-md-11 {
    width: 91.66666667%;
    float: left;
  }
  .col-md-12 {
    width: 100%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-1 {
    width: 8.33333333%;
    float: left;
  }
  .col-lg-2 {
    width: 16.66666667%;
    float: left;
  }
  .col-lg-3 {
    width: 25%;
    float: left;
  }
  .col-lg-4 {
    width: 33.33333333%;
    float: left;
  }
  .col-lg-5 {
    width: 41.66666667%;
    float: left;
  }
  .col-lg-6 {
    width: 50%;
    float: left;
  }
  .col-lg-7 {
    width: 58.33333333%;
    float: left;
  }
  .col-lg-8 {
    width: 66.66666667%;
    float: left;
  }
  .col-lg-9 {
    width: 75%;
    float: left;
  }
  .col-lg-10 {
    width: 83.33333333%;
    float: left;
  }
  .col-lg-11 {
    width: 91.66666667%;
    float: left;
  }
  .col-lg-12 {
    width: 100%;
    float: left;
  }
}
.body {
  width: 100vw;
  overflow: hidden;
}
.container {
  box-sizing: border-box;
  width: 100%;
  padding: 2.1333vw 10vw;
}
.clearflx::after {
  content: "";
  clear: both;
  display: block;
  width: 0px;
  height: 0px;
  line-height: 0px;
  visibility: hidden;
}
@font-face {
  font-family: 'iconfont';
  /* Project id 2729537 */
  src: url('//at.alicdn.com/t/font_2729537_l79epyl2yn.woff2?t=1629128222938') format('woff2'), url('//at.alicdn.com/t/font_2729537_l79epyl2yn.woff?t=1629128222938') format('woff'), url('//at.alicdn.com/t/font_2729537_l79epyl2yn.ttf?t=1629128222938') format('truetype');
}
.header {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99;
}
.header.active {
  background-color: #378c3f;
}
.header .container {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}
.header .container .brand {
  flex: 1;
}
.header .container .brand a {
  font-weight: bold;
  font-size: 30px;
  color: #fff;
}
.header .container button {
  font-family: "iconfont";
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 0;
  color: #fff;
  padding: 10px ;
  border-radius: 4px;
}
.header .container button span {
  display: block;
  transition: transform 0.5s linear;
}
.header .container button:hover span {
  transform: scale(1.2);
}
.header .container button.show span {
  transform: rotate(180deg);
}
.header .container button.show:hover span {
  transform: rotate(0deg);
}
.header .container .toggle {
  display: none;
}
.header .container nav ul li {
  float: left;
}
.header .container nav ul li a {
  display: block;
  border-radius: 10px;
  padding: 10px 20px;
  color: #fff;
  font-size: 18px;
}
.header .container nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
section.page-content {
  width: 100%;
  padding-top: 160px;
  padding-bottom: 150px;
  background: url("../img/bg.jpg") no-repeat;
  position: relative;
}
section.page-content::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
section.page-content::after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(178deg, rgba(44, 44, 44, 0.2), rgba(55, 140, 63, 0.6));
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
section.page-content .content {
  position: relative;
  z-index: 8;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.page-content .content .head-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}
section.page-content .content .head-img::before {
  content: "";
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 100%;
  border: 15px solid rgba(55, 140, 63, 0.6);
  border-radius: 50%;
  position: absolute;
  transform-origin: center;
  transform: scale(1.2);
  z-index: -1;
  animation: headanim 3s ease-in infinite;
}
section.page-content .content .head-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: transform 0.3s linear;
}
section.page-content .content .head-img img:hover {
  transform: scale(1.1);
}
section.page-content .content .title {
  padding-top: 40px;
}
section.page-content .content .title h2,
section.page-content .content .title p {
  color: #fff;
  text-align: center;
}
section.page-content .content .title h2 {
  font-size: 30px;
  font-weight: normal;
}
section.page-content .content .title p {
  margin-top: 18px;
  font-size: 18px;
  font-weight: lighter;
}
section.page-content .content .accest {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
section.page-content .content .accest a {
  display: block;
  padding: 10px;
  width: 100px;
  text-align: center;
  background-color: #378c3f;
  margin: 0 20px;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
}
section.page-content .call {
  position: absolute;
  z-index: 8;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 300px;
  display: flex;
  justify-content: space-evenly;
  font-family: 'iconfont';
}
section.page-content .call > div {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: #666;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in;
  position: relative;
}
section.page-content .call > div div {
  padding: 6px 10px;
  border-radius: 8px;
  background-color: #fff;
  position: absolute;
  bottom: 64px;
  transform: translateX(-50%);
  left: 50%;
  z-index: 30;
  display: none;
}
section.page-content .call > div div span {
  font-size: 16px;
  color: #666;
  line-height: 18px;
}
section.page-content .call > div div img {
  width: 100px;
  height: auto;
}
section.page-content .call > div div::after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border: #fff 8px solid;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 95%);
}
section.page-content .call > div span,
section.page-content .call > div a {
  font-size: 22px;
  line-height: 54px;
  color: white;
}
section.page-content .call > div:hover {
  box-shadow: 0 0 20px 2px #ccc;
}
section.page-content .call > div:hover div {
  display: block;
}
section.region {
  padding-top: 100px;
}
section.about .row {
  margin-top: 40px;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 0 16px 8px #eee;
}
section.about .row > div {
  box-sizing: border-box;
  min-height: 250px;
}
section.about .row > div h3 {
  font-size: 20px;
  line-height: 40px;
}
section.about .row .intro {
  padding-right: 20px;
}
section.about .row .intro p {
  font-size: 16px;
  line-height: 1.5em;
  text-indent: 2em;
}
section.about .row .info {
  padding-left: 40px;
}
section.about .row .info p {
  line-height: 30px;
}
section.about .row .info span {
  font-size: 16px;
  display: inline-block;
}
section.about .row .info span:nth-child(odd) {
  width: 100px;
  font-weight: bolder;
}
section.skills h2 {
  text-align: center;
}
section.skills .row {
  margin-top: 40px;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 0 16px 8px #eee;
}
section.skills .row.active {
  animation: skills 0.4s linear;
}
section.skills .row .skill-content {
  box-sizing: border-box;
}
section.skills .row .skill-content:nth-child(1) {
  padding-right: 20px;
}
section.skills .row .skill-content:nth-child(2) {
  padding-left: 40px;
}
section.skills .row .skill-content .skill-item {
  padding-top: 20px;
}
section.skills .row .skill-content .skill-item h3 {
  font-size: 16px;
  line-height: 18px;
}
section.skills .row .skill-content .skill-item h3 span {
  padding-right: 10%;
  float: right;
}
section.skills .row .skill-content .skill-item .progressbox {
  width: 100%;
  height: 5px;
  margin-top: 10px;
  background: rgba(55, 140, 63, 0.2);
  position: relative;
}
section.skills .row .skill-content .skill-item .progressbox div.progress {
  width: 10px;
  height: 100%;
  display: block;
  background-color: #378c3f;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.6s linear;
}
section.project h2 {
  text-align: center;
}
section.project .row {
  margin-top: 40px;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 0 16px 8px #eee;
}
section.project .row.in {
  animation: bottomIn 1s ease;
}
section.project .row .tab-nav {
  display: flex;
  font-family: 'iconfont';
  justify-content: center;
}
section.project .row .tab-nav li {
  width: 60px;
  height: 60px;
  text-align: center;
  background-color: rgba(222, 222, 222, 0.3);
  border-radius: 50%;
  margin: 20px;
  cursor: pointer;
}
section.project .row .tab-nav li:hover {
  box-shadow: 0 0 30px 3px #ccc;
}
section.project .row .tab-nav li span {
  line-height: 60px;
  font-size: 26px;
  color: #9A9A9A;
}
section.project .row .tab-nav li.active {
  background-color: #378C3F;
}
section.project .row .tab-nav li.active span {
  color: #fff;
}
section.project .row .content ul {
  display: none;
}
section.project .row .content ul.active {
  display: block;
}
section.project .row .project-item {
  box-sizing: border-box;
  padding: 20px 20px;
  text-align: center;
  font-size: 0;
  transition: all 0.4s linear;
}
section.project .row .project-item:hover {
  box-shadow: 0 0 20px 4px #ccc;
  border-radius: 4px;
}
section.project .row .project-item a {
  display: block;
}
section.project .row .project-item img {
  max-width: 100%;
  height: 200px;
  margin-bottom: 16px;
  border-radius: 4px;
}
section.project .row .project-item h3 {
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}
section.campus h2 {
  text-align: center;
}
section.campus .item {
  margin-top: 40px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 0 16px 8px #eee;
  display: flex;
  flex-wrap: wrap;
}
section.campus .item h3 {
  margin-top: 30px;
  font-size: 20px;
  font-weight: normal;
}
section.campus .item p {
  font-size: 16px;
}
section.campus .item .left {
  box-sizing: border-box;
  background-color: #378C3F;
  padding: 60px 15px;
  flex-direction: column;
}
section.campus .item .left p {
  text-align: center;
  color: #fff;
}
section.campus .item .left h3 {
  text-align: center;
  color: #fff;
}
section.campus .item .right {
  flex: 1;
  box-sizing: border-box;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section.campus .item .right .content {
  margin-top: 20px;
}
section.campus .item .right .content p {
  color: #000;
  line-height: 2em;
}
section.campus .item.in .left {
  animation: leftIn 0.6s ease;
}
section.campus .item.in .right {
  animation: rightIn 0.6s ease;
}
section.honor h2 {
  text-align: center;
}
section.honor .warp {
  width: 100%;
  margin-top: 40px;
  position: relative;
}
section.honor .warp ul.content li {
  border-radius: 4px;
  box-shadow: 0 0 16px 8px #eee;
  display: flex;
  padding: 20px;
}
section.honor .warp ul.content li .left {
  width: 20%;
}
section.honor .warp ul.content li .left img {
  width: 100%;
  border-radius: 4px;
}
section.honor .warp ul.content li .left h3 {
  margin-top: 16px;
  font-weight: normal;
}
section.honor .warp ul.content li .left p {
  font-size: 14px;
  line-height: 2em;
  color: #666;
  font-weight: bold;
}
.footer {
  margin-top: 70px;
  text-align: center;
}
.footer .icon {
  font-family: 'iconfont';
}
.footer .icon a {
  font-size: 40px;
  color: #ccc;
  letter-spacing: 50px;
}
.footer .icon a:last-child {
  letter-spacing: 0;
}
.footer .icon a:hover {
  color: #999;
}
.footer h2 {
  margin: 30px 0;
}
@keyframes headanim {
  0% {
    transform: scale(1.1);
    opacity: 1;
  }
  25% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.4);
    opacity: 0;
  }
  75% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  100% {
    transform: scale(1.1);
    opacity: 1;
  }
}
@keyframes skills {
  from {
    transform: translateY(100px) scale(0.8);
  }
  to {
    transform: translateY(0px) scale(1);
  }
}
@keyframes leftIn {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0.5;
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes rightIn {
  from {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0.5;
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes bottomIn {
  from {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0.5;
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@media screen and (max-width: 992px) {
  .container {
    padding-left: 3vw;
    padding-right: 3vw;
  }
  section.region {
    padding-top: 70px;
  }
  .header .container {
    position: relative;
  }
  .header .container .toggle {
    display: block;
  }
  .header .container nav {
    position: absolute;
    width: 100%;
    right: 0px;
    top: 99%;
    z-index: 100;
  }
  .header .container nav.md-hiden {
    display: none;
    background: linear-gradient(#378c3f 0%, rgba(55, 140, 63, 0.6) 500%);
  }
  .header .container nav.md-hiden.show {
    display: block;
  }
  .header .container nav ul li {
    text-align: center;
    float: none;
  }
  .row {
    padding: 10px !important;
  }
  section.about .row > div {
    box-sizing: border-box;
    min-height: 250px;
  }
  section.about .row > div h3 {
    font-size: 18px;
    line-height: 40px;
  }
  section.about .row .intro {
    padding-right: 0px;
    min-height: auto;
  }
  section.about .row .intro p {
    font-size: 14px;
    line-height: 1.5em;
    text-indent: 2em;
  }
  section.about .row .info {
    padding-left: 0px;
  }
  section.about .row .info p {
    line-height: 30px;
  }
  section.about .row .info span {
    font-size: 14px;
    display: inline-block;
  }
  section.about .row .info span:nth-child(odd) {
    width: 100px;
    font-weight: bolder;
  }
  section.skills .row .skill-content:nth-child(1) {
    padding-right: 0px;
  }
  section.skills .row .skill-content:nth-child(2) {
    padding-left: 0px;
  }
}
@media screen and (max-width: 768px) {
  section.campus .item .left {
    width: 100%;
    padding: 30px 0;
  }
}
